.wt-About{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg,#d89b45 0%, #ffffff 87%); 
    display:flex;
    align-items: center;
    justify-content: center;
}

.wt-About-container{
    display: flex ;   
    gap: 5vw;
}

.wt-About-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    justify-content: center;
}

.wt-About-txt h2{
    font-size:4em;
    text-decoration: underline;
    color: #c05b08;
    margin: 10px 0px;
}

.wt-About-txt span{
    color: #311d08d7;
}

.wt-About-txt p{
    text-align: justify
}

.wt-About-img{
    background-color: #311d08d7;
    border-radius: 20px 0px 20px 0px;
    
}

.wt-About-img img{
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    width: 30vw;
}


@media (max-width:768px) {

    .wt-About-container{
        flex-direction: column;
    }

    .wt-About-txt h2{
        font-size:2em;
    }

    .wt-About-txt{
        width: 70vw;
    }

    .wt-About-img{
        border-radius: 0px;
    }

    .wt-About-img img{
        padding: 5px;
        border-radius: 0px;
        width: 70vw;
    }


}