.wt-Plan{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wt-Plan-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,rgba(36, 24, 22, 1) 0%, rgba(87, 49, 9, 1) 87%);
}

.wt-Plan-start{
    position: relative;
    padding: 200px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin: auto;
}

.wt-Plan-start h2{
    color: #ffffff;
    height: 1em;
    font-size: 3em;
    margin: 0 0 0.6em 0;
}

@media (max-width:768px) {

    .wt-Plan-start h2{
        height: 0.7em;
        font-size: 2em;
    }

}