.wt-Spots{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/cuposLimitados.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wt-Spots-container{
    height: 45vh;
    width: 35vw;
    background: white;
    border-radius: 20px;
    border: 1px solid #83381a;

}