.wt-Spots{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/cuposLimitados.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wt-Spots-container{
    height: 40vh;
    width: 30vw;
    background: white;
    border-radius: 20px;
    border: 3px solid #83381a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
}

.wt-Spots-container span{
    font-weight: 900;
    font-size: 3em;
    height: 1.3em;
}

.wt-Spots-container span:first-child{
    font-size: 4em;
    height: 1.6em;
}

.wt-Spots-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}