.wt-start{
    height: 280vh;
}

.wt-sticky{
    height: 140vh;
    position: sticky;
    top: 0;
}

.wt-home{
    height: 140vh;
    background-image: url('../assets/fondoHome.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wt-home-hojas{
    z-index: 10;
    height: 140vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.wt-home-hoja1{
    width: 400px;
    position: absolute;
    top: 40px;
    right: -150px;
}

.wt-home-hoja2{
    width: 600px;
    position: absolute;
    top: 20px;
    right: -250px;
    transform: rotate(-10deg);
}

.wt-home-hoja1_2{
    width: 400px;
    position: absolute;
    top: 40px;
    left: -150px;
}

.wt-home-hoja2_2{
    width: 600px;
    position: absolute;
    top: 20px;
    left: -250px;
    transform: rotate(10deg);
}

.wt-home-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -90px;
}

.wt-home-logo{
    z-index: 10;
    position:relative;
    width: 500px;
    filter: drop-shadow(3px 0px 3px #0000009c);
    opacity: 1;
}

.wt-home-center p{
    z-index: 10;
    text-align: center;
    position: relative;
    font-family: Poppins;
    font-size: 3 em;
    color: #ffffff;
    letter-spacing: 0.6em;
    filter: drop-shadow(3px 1px 3px #000000);
}

.wt-home-bg{
    z-index: 5;
    height: 140vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wt-home-brillo{
    width: 1950px;
    position: absolute;
    top: -80px;
}

.wt-home-sol{
    width: 500px;
    position: absolute;
    top: 260px;
    place-self: center;
}

/* View 2 */

.wt-start-view2{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,#000000 52%, #3d1a0f 100%);
    color: white;
    flex-direction: column;
}

.wt-start-enjoy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh;
}


.wt-start-video{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #3d250a;
}

.wt-start-video video{
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(3px 1px 3px #000000);
}

.wt-start-welcome{
    width:40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wt-start-welcome h1{
    margin: 5vh 0 5vh 0;
}


.wt-start-welcome p{
    font-size: 3em;
    letter-spacing: 1em;
}

.wt-start-welcome span{
    letter-spacing: 0;
}



