.wt-Beneficios{
    width: 100%;
    height: auto;
    background: #ffffff; 
    display:flex;
    align-items: center;
    justify-content: center;
}

.wt-Beneficios-container{
    display: flex ;
    padding:  15vh 5vw;  
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.wt-Beneficios-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 1em;

}


.wt-Beneficios-lista h2{
    font-size:2em;
    text-decoration: underline;
    color: #c05b08;
    margin: 10px 0px;
}

.wt-Beneficios-img{
    background-color: #311d08d7;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    box-sizing: border-box;
    height: 100%;
    width: 30vw;
}

.wt-Beneficios-img img{
    border-radius: 20px 0px 20px 0px;
    object-fit: contain ;
    height: 100%;
    width: 100%;

}

@media (max-width:768px) {

    .wt-Beneficios-container{
        flex-direction: column;
        gap: 10vw;
    }

    .wt-Beneficios-lista{
        width: 80vw;
        font-size: 0.8em;
    }
    
    .wt-Beneficios-lista h2{
        text-align: center;
        font-size:1.8em;
    }

    .wt-Beneficios{
        padding:  2vh 0vw ; 
    }

    .wt-Beneficios-img{
        height: 100%;
        width: 70vw;
        padding: 5px;
        border-radius: 0px ;
    }

    .wt-Beneficios-img img{
        border-radius: 0px ;
    }
}