@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.wt-Carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
}

.carousel{
  position: relative;
  display: flex;
  gap: 2em;
  width: 85vw;
  align-items: center;
  justify-content: center;
}

.indicator{
  display: flex;
  gap: 1em;
}

.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}
.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}

.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fa8920;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #646464;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa8920;
  -webkit-box-shadow:0px 0px 12px 2px rgba(250,175,63,0.9);
  -moz-box-shadow: 0px 0px 12px 2px rgba(250,175,63,0.9);
  box-shadow: 0px 0px 12px 2px rgba(250,175,63,0.9);
}

@media (max-width:768px) {

  .carousel{
    width: 100vw;
    justify-content: space-between;
    gap: 1em;
  }

}