
.wt-SpeakerCard{
    width: 372px;
    height: 638px;
    perspective: 1000px;
    border-radius: var(--card-border);
    filter: var(--drop-shadow);
}

.wt-SpeakerCard-Inner{
    border-radius: var(--card-border);
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.wt-SpeakerCard:hover .wt-SpeakerCard-Inner {
  transform: rotateY(180deg);
}

/* caras */
.wt-SpeakerCard-Front,
.wt-SpeakerCard-Back {
  border-radius: var(--card-border);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.wt-SpeakerCard-Front {
  background: #0000;
}

.wt-SpeakerCard-Back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(360deg,rgba(92, 58, 38, 1) 0%, rgba(135, 82, 30, 1) 39%, rgba(175, 118, 54, 1) 72%);
  color: rgb(255, 255, 255);
  align-items: center;
  transform: rotateY(180deg);
}

.wt-SpeakerCard-Back p {
  margin: 40px;
  font-family: Poppins;
  text-align: center;
  font-size: 0.8em;
}

.wt-SpeakerCard-Back a {
  cursor: pointer;
  margin: 10px;
  border-style: hidden;
  text-decoration: none;
  background-color: #4e2812;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  font-family: Poppins;
  text-align: center;
  font-size: 0.8em;
  border-radius: var(--button-border);
  transition: color 0.35s ease,
              background-color 0.35s ease,
              font-size 0.35s ease, 
              filter 0.35s ease;
}

.wt-SpeakerCard-Back a:hover{
  background-color: #ffece0;
  color: #4e2812;
  filter: var(--drop-shadow);
  transition: color 0.35s ease,
              background-color 0.35s ease,
              font-size 0.35s ease, 
              filter 0.35s ease;
}

.wt-SpeakerCard-Img{
    
  border-radius: var(--card-border);
}

@media (max-width:768px) {

    .wt-SpeakerCard{
        width: 60vw;
        height: 50vh;
        max-width: 320px;
    }

    .wt-SpeakerCard-Img{
      width: 100%; 
      height: 100%;
      object-fit: cover;
    }

    .wt-SpeakerCard-Back p {
      margin: 20px;
      font-size: 0.6em;
    }

    .wt-SpeakerCard-Back a {
      width: 60%;
      height: 5%;
      font-size: 0.6em;
    }


}